{% extends 'layouts/primary.html' %}

{% load static %}

{% block title %} Change password - {% endblock %}

{% block content %}
<div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 col-xll-2 d-flex flex-column justify-content-center vh-100">
    <form class="card border-0 shadow rounded-4 p-2 bg-gray-700" id="password-reset">
        <div class="card-header bg-transparent border-0 pt-4">
            <h1 class="text-center fw-bold m-0 font-24 mb-1 text-white">Change password</h1>
            <p class="text-center text-muted m-0 font-14">Now you can recover your password!</p>
        </div>
        <div class="card-body">
            <input type="hidden" id="tok" value="{{ token }}">
            <input type="hidden" id="uid" value="{{ uid }}">
            <div class="form-group mb-3">
                <input type="password"
                    class="form-control shadow-none p-2 px-4 border-0 font-14 bg-dark text-white mb-1 fw-bold"
                    id="password" placeholder="Create password">
            </div>
            <div class="form-group">
                <input type="password"
                    class="form-control shadow-none p-2 px-4 border-0 font-14 bg-dark text-white mb-1 fw-bold"
                    id="password2" name="password2" placeholder="Confirm password">
            </div>
        </div>
        <div class="card-footer bg-transparent border-0 text-center pb-4">
            <button type="submit" class="btn btn-dark p-2 px-3 mb-2 font-14 fw-bold w-100" id="btn">
                Proceed
            </button>
            <a href="{% url 'index' %}" class="link-light fw-bold font-14">
                Login instead?
            </a>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'modules/account/password-reset.js' %}"></script>
{% endblock %}