{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %} {% endblock %} - HyperScaleNexus</title>
    {% include "components/head.html" %}
    {% block styles %} {% endblock %}
</head>

<body class="h-100  bg-black">
    <nav class="fixed-top w-100 z-index-1 text-center p-3">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" width="250" class="d-inline-block">
        </a>
    </nav>
    <main class="container-fluid h-100">
        <div class="row h-100 justify-content-center">
            {% block content %} {% endblock %}
        </div>
    </main>

    <input type="hidden" value="{{csrf_token}}" name="token" id="token">

    <div id="response" class="toast-container p-3 top-0 start-50 translate-middle-x position-fixed"></div>
    <div id="loader" class="toast-container p-3 top-0 start-50 translate-middle-x position-fixed"></div>

    <!-- Page scripts -->
    {% include "components/scripts.html" %}
    {% block scripts %} {% endblock %}
    <!-- Page scripts -->
</body>

</html>>